<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapid fox</title>
</head>
<body>

    <div id="app">

        <h1>{{msgAlert}}</h1>

        <div v-if="!isLoggedIn">
            <h1>Login Page</h1>
            <form v-on:submit.prevent="login">
                <label> Email </label>
                <input type="text" v-model="email">
                <br>
                <label> Password </label>
                <input type="text" v-model="password">
                <button type="submit">Login</button>
            </form>
        </div>

        <div v-else>
            <h1>Dashboard page</h1>

            <div>
                <h2>Users by instruktur</h2>
                <ul>
                    <li v-for="user in usersByInstruktur">
                        name: {{ user.name }} - jabatan: {{user.jabatan}}
                    </li>
                </ul>
            </div>

            <div>
                <h2>Users by murid</h2>
                <ul>
                    <li v-for="user in usersByMurid">
                        name: {{ user.name }} - jabatan: {{user.jabatan}}
                    </li>
                </ul>
            </div>
            <input type="text" v-model="message">
<!-- 
            
            {{ message }} "<-" sebelum di reverse
            <br/>
            {{  message.split('').reverse().join('') }} "<--" setelah di reverse -->
            <!-- <div id="canvas"></div> -->
            <!-- <br> -->
            <!-- {{ reversedMsg }}  "<--" setelah di reverse computed -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js"></script>
</body>
</html> 